.container {
  width: 960px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  animation-name: slideUp;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
}
@media screen and (max-width: 1248px) {
  .container {
    width: 100% !important;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
