.container {
  width: 960px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  animation-name: slideUp;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
  transform: translateZ(0);
}
@media screen and (max-width: 1248px) {
  .container {
    width: 100% !important;
  }
}
@keyframes slideUp {
  0% {
    transform: translate3d(0,80px,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
