.container {
  width: 960px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
@media screen and (max-width: 1248px) {
  .container {
    width: 100% !important;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0,80px,0);
            transform: translate3d(0,80px,0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0,80px,0);
            transform: translate3d(0,80px,0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    opacity: 1;
  }
}
