.materiallist {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      line-height: 56px;
      font-size: 16px;
      vertical-align: middle;
      .icon{
        width: 52px;
        display: inline-block;
        position: relative;
        margin-top: 10px;
        color: $secondaryText;
      }
      .text{
        display: inline-block;
        position: absolute;
        margin-top: 3px;
      }
      .avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $primaryColour;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      &:not(:last-of-type) {
        border-bottom-color: $divider;
        border-bottom-width: 1px;
        border-bottom-style: solid;
      }
    }
  }
}
